html {
  width: 100%;
  height: 100%;
  position: relative;
  scroll-behavior: smooth;
}
h1 {
  margin: 0;
}

body {
  margin: 0;
}

input {
  outline: none;
}

button {
  outline: none;
  cursor: pointer;
}

.header-wrapper {
  display: flex;
  flex-flow: row;
  align-items: center;
  padding: 10px 15px;
  margin-bottom: 20px;
  border-bottom: 3px solid #39b54a;
}

.logo {
  height: 80px;
  cursor: pointer;
}

.top-res {
  color: #39b54a !important;
}

.res-text {
  margin: 0;
  margin-top: 10px;
  font: bold 12px "Comfortaa", cursive;
  color: white;
}

.header__title {
  font: bold 32px / 36px "Comfortaa", cursive;
  margin-right: 60px;
}
/* 
.button-toggle-wrapper {
  position: relative;
  display: flex;
  align-items: center;
} */

/* .header__toggle__button {
  border-radius: 25px;
  border: 2px solid #a73523;
  color: #a73523;
  background: white;
  margin-right: -10px;
  font: bold 14px / 16px "Comfortaa", cursive;
  padding: 5px 12px;
  position: absolute;
} */

/* .button-toggle-wrapper :last-child {
  color: black;
  z-index: -1;
  border-color: black;
  padding: 5px 20px;
  margin-left: 60px;
  padding-left: 30px;
} */

.right-part-wrapper {
  margin-left: auto;
  display: flex;
  flex-flow: row;
  align-items: center;
}

.header-button-link {
  background: white;
  margin: 0 6px;
  border: none;
  font: bold 20px / 22px "Comfortaa", cursive;
}

.header-button-personal {
  text-decoration: none;
  margin: 0 6px;
  border: 2px solid #39b54a;
  border-radius: 30px;
  padding: 8px 8px;
  font: bold 20px / 22px "Comfortaa", cursive;
  color: white;
  background: #39b54a;
  opacity: 1;
  transition: all 0.5s;
}

.header-button-personal:hover {
  opacity: 0.7;
}

.intro-wrapper {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all 1s;
}

.apperanceIntro {
  opacity: 1;
}

.intro-left-wrapper {
  position: relative;
  width: 100%;
  display: flex;
}

.wrapper-first-title {
  position: relative;
  margin-top: 65px;
  /* margin-bottom: 25px; */
  margin-left: auto;
  margin-right: auto;
  background: white;
  top: -30px;
  right: 0;
  left: 0;
  border: 2px solid #39b54a;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  max-width: fit-content;
  align-self: normal;
  white-space: nowrap;
}

/* .wrapper-first-title:after {
  position: absolute;
  content: "";
  border-left: 3px solid #39b54a;
  border-top-left-radius: 85px;
  border-top: 3px solid #39b54a;
  border-bottom-left-radius: 85px;
  border-bottom: 3px solid #39b54a;
  left: -180px;
  top: 30px;
  height: 470px;
  width: 150px;
  background: transparent;
  transform: skewX(-20deg);
  z-index: -1;
} */

.intro-left-image {
  width: 80%;
  height: auto;
  /* max-width: 100%; */
  /* margin-right: auto; */
  /* max-height: 700px; */
  /* margin-left: 5%; */
}

.rectangle-image-wrapper {
  display: flex;
  justify-content: space-between;
}

.top-image-wrapper {
  padding: 10px;
}

.intro-right-wrapper {
  display: flex;
  flex-flow: column;
  margin-right: auto;
  /* margin-top: -200px; */
  /* max-width: 700px; */
  padding-right: 10%;
  /* width: ; */
}

.intro-right-title {
  white-space: nowrap;
  font: bold 41px / 46px "Comfortaa", cursive;
}

.first-block-title {
  margin: 20px 0;
}

.second-block-title {
  margin: 20px 0;
}

.right-block__button {
  opacity: 1;
  margin-top: 15px;
  border-radius: 25px;
  border: 2px solid #39b54a;
  color: white;
  margin-right: -10px;
  font: bold 36px / 40px "Comfortaa", cursive;
  padding: 8px 12px;
  background: #39b54a;
  box-shadow: 0px 8.88365px 8.88365px rgba(0, 0, 0, 0.25);
  transition: all 0.5s;
}

.right-block__button:hover {
  opacity: 0.7;
}

.right-block__subtitle {
  margin-top: 20px;
  font: bold 22px / 25px "Comfortaa", cursive;
  text-align: center;
}

.right-block__textfield {
  width: 100%;
  display: flex;
  flex-flow: row;
  box-sizing: border-box;
  /* box-shadow: 0px 8.30928px 8.30928px rgba(0, 0, 0, 0.25);
  border-radius: 20.7732px; */
  /* border: 2.07732px solid #000000; */
  position: relative;
}

.textfield__button {
  opacity: 1;
  transition: all 0.5s;
  background: #39b54a;
  border-radius: 20.7732px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  color: white;
  font: 400 18px / 21px "Comfortaa", cursive;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  margin: -8px -5px -6px;
}

.textfield__button:hover {
  opacity: 0.7;
}

.textfield__input {
  width: inherit;
  border-radius: 19px;
  outline: none;
  padding: 10px;
  margin: -5px -3px -5px;
  border: 2px solid black;
}

.main-title {
  font: bold 34px / 38px "Comfortaa", cursive;
  margin: 15px;
}

.preimuwestva-wrapper {
  position: relative;
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
  align-items: center;
  opacity: 0;
  transition: all 1.5s;
}

.apperanceSection {
  opacity: 1;

  margin-top: 100px;
}

.preimuwestva-wrapper__title-block {
  position: absolute;
  background: white;
  top: -30px;
  right: 0;
  left: 0;
  border: 2px solid #39b54a;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  max-width: fit-content;
  align-self: normal;
  margin: 0 auto;
  white-space: nowrap;
}

.preimuwestva-wrapper__title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 38px;
  display: flex;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 8px 30px;
}

.preimuwestva-wrapper__first-block {
  display: flex;
  flex-flow: column;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-flow: row;
}

.first-block__content {
  width: 350px;
}

.first-block__content3 {
  width: 350px;
  border-top-right-radius: 90px;
  border-bottom-right-radius: 90px;
  border-right: 2px solid #39b54a;
  border-top: 2px solid #39b54a;
  border-bottom: 2px solid #39b54a;
  padding: 0 5%;
}

.first-block__content2 {
  width: 350px;
  border-bottom: 2px solid #39b54a;
  padding: 0 5%;
}

.content__title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 19px;
  line-height: 21px;
  display: flex;
  align-items: center;
}

.content__description {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 19px;
  display: flex;
  align-items: center;
}

.first-block__content1 {
  width: 350px;
  padding: 0 5%;
}

.nested-content {
  margin-top: 50px;
}

.preimuwestva-wrapper__second-block {
  display: flex;
  margin-top: -2px;
}

.second-block__content1 {
  border-bottom-left-radius: 90px;
  border-top-left-radius: 90px;
  border-top: 2px solid #39b54a;
  border-left: 2px solid #39b54a;
  width: 350px;
  border-bottom: 2px solid #39b54a;
  padding: 0 5%;
}
.second-block__content2 {
  width: 350px;
  border-bottom: 2px solid #39b54a;
  padding: 0 5%;
}
.second-block__content3 {
  width: 350px;
  border-bottom-right-radius: 90px;
  padding: 0 5%;
}

.preimuwestva-wrapper__third-block {
  display: flex;
  margin-top: -2px;
}

.third-block__content1 {
  width: 350px;
  border-bottom-right-radius: 90px;
  padding: 0 5%;
}
.third-block__content2 {
  width: 350px;
  border-bottom: 2px solid #39b54a;
  padding: 0 5%;
}
.third-block__content3 {
  border-bottom-right-radius: 90px;
  border-top-right-radius: 90px;
  border-top: 2px solid #39b54a;
  border-right: 2px solid #39b54a;
  width: 350px;
  border-bottom: 2px solid #39b54a;
  padding: 0 5%;
}

.bottomNested {
  margin-bottom: 70px;
}

.work-wrapper__title-block {
  position: absolute;
  background: white;
  bottom: -30px;
  right: 0;
  left: 0;
  border: 2px solid #39b54a;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  max-width: fit-content;
  align-self: normal;
  margin: 0 auto;
  white-space: nowrap;
}

.wrapper-start-road--arrow {
  position: absolute;
  width: -1%;
  z-index: -1;
  bottom: -75px;
  right: 0;
  left: 5%;
  transform: translateX(-35%);
}

.wrapper-start-road--arrow .wrapper-start-road--curve {
  border: 2px solid #39b54a;
  border-color: #39b54a transparent transparent #39b54a;
  height: 100px;
  width: -1px;
  border-radius: 90px 0 0 0;
}

.work-to-kassa-wrapper {
  display: flex;
  flex-flow: column;
  opacity: 0;
  /* margin-top: 100px; */
  position: relative;
  transition: all 1s;
}

.apperanceKassa {
  margin-top: 100px;
  opacity: 1;
}

.work-to-kassa-wrapper__blocks {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}

.work-to-kassa-wrapper__block {
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 2px solid #39b54a;
  /* padding: 1.5%; */
}

.work-to-kassa__arrow {
  width: 100%;
  /* height: auto; */
  min-height: 50px;
}

.img-arrow-wrapper {
  padding: 1.5%;
}

.work-to-kassa__img {
  margin-top: 30px;
  width: 80%;
  height: auto;
  border-radius: 50%;
  border: 4px solid #39b54a;
  padding: 4px;
}

.work-to-kassa-title-img {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 22.6667px;
  line-height: 25px;
  display: flex;
  align-items: center;
  text-align: center;
  min-height: 77px;
  white-space: pre-wrap;
}

.arrow-right {
  width: 0;
  height: 0;
  border-top: 50px solid transparent;
  border-bottom: 50px solid transparent;
  border-left: 50px solid #39b54a;
  margin: 0 10px;
}

.table__column {
  border-right: 2px solid #39b54a;
}

.table__description {
  border-bottom: 2px solid #39b54a;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  display: flex;
  align-items: center;
  padding: 5px 55px;
}

.work__table :last-child {
  border-right: 0px;
}

.blank_border {
  user-select: none;

  padding-bottom: 90px;
  width: 25%;
  border-bottom: 3px solid #39b54a;
}

.blank-wrapper :last-child {
  border-bottom-right-radius: 85px;
  margin-right: -2px;
  user-select: none;
}

.table-wrapper {
  display: flex;
  flex-flow: column;
  margin-right: 50px;
  border-right: 3px solid #39b54a;
  border-bottom-right-radius: 90px;
}

.blank-wrapper {
  display: flex;
  justify-content: flex-end;
  user-select: none;
}

.work__table {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.prices-wrapper__title-block {
  position: absolute;
  background: white;
  bottom: -30px;
  right: 0;
  border: 2px solid #39b54a;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  max-width: fit-content;
  left: 15%;
  align-self: normal;
  white-space: nowrap;
}

.image_slider {
  margin: 0 auto;
  object-fit: contain;
  width: 85%;
  max-width: 100%;
}

.glide__track {
  background: white;
}

.glide__slides {
  margin: 0;
}

.slide {
  background: #39b54a;
  display: flex;
  height: max-content;
}

.red {
  color: red !important;
}

.glide__arrow--left {
  border-radius: 50% !important;
  font-size: 26px;
  left: 1em !important;
}

.glide__arrow--right {
  border-radius: 50% !important;
  font-size: 26px;
  right: 1em !important;
}

.glide__bullets {
  margin-top: 50px;
}

.blank_border-slider {
  user-select: none;
  z-index: 1;

  padding-bottom: 90px;
  margin-left: -3px;
  width: 20%;
  border-left: 3px solid #39b54a;
  border-bottom-left-radius: 85px;
  border-bottom: 3px solid #39b54a;
}

.blank-wrapper-slider :last-child {
  border-left: none;
  border-bottom-left-radius: 0;
  border-bottom: 3px solid #39b54a;
  user-select: none;
}

.blank-wrapper-slider {
  display: flex;
  justify-content: flex-start;
  margin-top: 80px;
  user-select: none;
}

.swiper__wrapper {
  display: flex;
  flex-flow: column;
  border-top-left-radius: 85px;
  border-bottom-left-radius: 85px;
  /* padding-bottom: -30px; */
  margin-left: 4%;
  /* padding-top: 30px; */
  /* border-bottom: 3px solid #39b54a; */
  border-left: 3px solid #39b54a;
  position: relative;
  opacity: 0;
  transition: all 1s;
}

.apperanceActions {
  opacity: 1;
  padding-top: 30px;
  padding-bottom: -30px;
}

.swiper__main {
  margin-top: 80px;
  /* margin-bottom: 80px; */
  margin-left: -4%;
}

.blank_border-top-slider {
  user-select: none;

  padding-bottom: 90px;
  margin-left: -3px;
  margin-top: -30px;
  width: 25%;
  border-left: 3px solid #39b54a;
  border-top-left-radius: 85px;
  border-top: 3px solid #39b54a;
  z-index: -1;
}

.swiper-wrapper__title-block {
  position: absolute;
  background: white;
  right: 0;
  left: 0;
  bottom: -3%;
  border: 2px solid #39b54a;
  box-sizing: border-box;
  border-radius: 20px;
  display: flex;
  flex-flow: column;
  text-align: center;
  align-items: center;
  max-width: fit-content;
  align-self: normal;
  margin: 0 auto;
  white-space: nowrap;
  z-index: 1;
}

.question-wrapper {
  margin-top: -7px;
  display: flex;
  flex-flow: row;
  position: relative;
  justify-content: space-between;
  border-bottom: double 4px transparent;
  border-right: double 4px transparent;
  border-top: double 4px transparent;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 80px;
  background-image: linear-gradient(white, white),
    radial-gradient(ellipse at top left, white, #39b54a);
  background-origin: border-box;
  background-clip: content-box, border-box;
  opacity: 0;
  transition: all 1s;
}

.apperanceQuestion {
  opacity: 1;
}

.question-dropdown-wrapper {
  cursor: pointer;
  display: flex;
  padding: 12px 30px;
  align-items: center;
  justify-content: space-between;
  background: #39b54a;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 13.3333px;
  margin: 10px 0;
}

.dropdown-title {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: white;
  user-select: none;
}

.accordeon {
  display: flex;
  flex-flow: column;
}

.expand-list--open {
  height: 100%;
}

.expand-input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}

.row--preimuwestva {
  display: none;
}

.row {
  display: flex;
  margin-top: 60px;
}
.row .col {
  flex: 1;
}
.row .col:last-child {
  margin-left: 1em;
}
/* Accordion styles */
.tabs {
  overflow: hidden;
  margin: 25px 10px;
  padding-top: -18px;
}
.tab {
  width: 100%;
  color: white;
  overflow: hidden;
}
.tab-label {
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background: #39b54a;
  font-weight: bold;
  cursor: pointer;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 28px;
  display: flex;
  align-items: center;
  color: white;
  user-select: none;
  padding: 12px 30px;
  margin: 10px 0;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  border-radius: 13.3333px;
  transition: all 0.5s;
  /* Icon */
}
.tab-label:hover {
  opacity: 0.7;
}
.tab-label::after {
  content: "\276F";
  width: 1em;
  height: 1em;
  text-align: center;
  transition: all 0.35s;
}
.tab-content {
  max-height: 0;
  padding: 0 1em;
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
  border-radius: 50%;
}
.tab-close {
  display: flex;
  justify-content: flex-end;
  padding: 1em;
  font-size: 0.75em;
  background: #2c3e50;
  cursor: pointer;
}
.tab-close:hover {
  background: #1a252f;
}
.expand-input:checked + .tab-label {
  background: #357430;
}
.expand-input:checked + .tab-label::after {
  transform: rotate(90deg);
}
.expand-input:checked ~ .tab-content {
  max-height: 100vh;
  padding: 1em;
}

.question-border-wrapper {
  display: flex;
  flex-flow: column;
  width: 84%;
  padding-left: 12%;

  /* border-right: 3px solid #39b54a; */
  /* border-top-right-radius: 85px; */
}

.blank_border-question {
  user-select: none;

  height: 56vh;
  /* margin-left: auto; */
  border-right: 3px solid #39b54a;
  border-top-right-radius: 85px;
  border-bottom: 3px solid #39b54a;
  border-bottom-right-radius: 85px;
  border-top: 3px solid #39b54a;
  width: 4%;
  margin-top: -3px;
}

.bottom-image-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 60px;
  padding: 0 10px;
}

.bottom-image {
  padding: 10px;
  /* max-width: 33%; */
}

.bottom-image-src {
  width: 100%;
  height: auto;
}

.bottom-image1 {
  position: relative;
  /* border-left: 3px solid #39b54a;
  border-top-left-radius: 85px;
  border-bottom: 3px solid #39b54a;
  border-bottom-left-radius: 85px;
  border-top: 3px solid #39b54a; */
}

/* .bottom-image1:after {
  position: absolute;
  content: "";
  border-left: 3px solid #39b54a;
  border-top-left-radius: 85px;
  padding-right: 57%;
  border-top: 3px solid #39b54a;
  left: 0;
  top: -28.5%;
  height: 400px;
  background: transparent;
  transform: skewX(-25deg);
  z-index: -1;
} */

.footer {
  background: #39b54a;
  padding: 80px 150px;
  margin-top: 60px;
}

.footer-wrapper {
  border: 3px solid #ffffff;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 20px 80px;
}

.footer-title {
  margin: 10px;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 33px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.footer-columns {
  display: flex;
  justify-content: space-between;
}

.left-column {
  width: 50%;
}

.footer-label {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 22px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #ffffff;
}

.right-column__title {
  margin-top: 30px;
  white-space: nowrap;
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 25.495px;
  line-height: 50px;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
}

.phone {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 25.495px;
  line-height: 50px;
  text-decoration: none;
  color: white;
  white-space: pre-wrap;
}

.input-footer {
  border-radius: 40px;
  padding: 8px 20px;
}

.textfield_footer {
  display: flex;
  flex-flow: column;
  margin: 30px 0;
}

.footer-button {
  font-family: Comfortaa;
  font-style: normal;
  font-weight: bold;
  font-size: 23px;
  line-height: 26px;
  border-radius: 40px;
  padding: 5px 20px;
  /* identical to box height */
  color: #39b54a;
  display: flex;
  align-items: center;
  text-align: center;
  background: white;
  transition: all 0.5s;
  opacity: 1;
}

.footer-button:hover {
  opacity: 0.7;
}

@media (max-width: 1200px) {
  .intro-right-wrapper {
    padding-right: 4%;
  }

  .footer {
    padding: 60px 120px;
  }

  .intro-left-image {
    width: 80%;
  }

  .intro-right-title {
    font-size: 32px;
  }
  .preimuwestva-wrapper {
    align-items: unset;
  }
  .table__description {
    font-size: 16px;
  }
}

@media (max-width: 950px) {
  .intro-right-wrapper {
    padding-right: 10px;
  }
  .footer {
    padding: 30px 60px;
  }
  .footer-title {
    font-size: 20px;
  }
  .right-column__title,
  .phone {
    font-size: 15px;
  }
  .footer-label {
    font-size: 15px;
  }
  .footer-button {
    font-size: 16px;
  }
  .intro-right-title {
    font-size: 24px;
  }
  .intro-left-image {
    width: 90%;
  }
  .right-block__button {
    font-size: 20px;
  }
  .table-wrapper {
    margin-right: 0;
  }
  .table__description {
    padding: 5px 25px;
  }
  .preimuwestva-wrapper__title,
  .main-title {
    font-size: 26px;
  }
  .tab-label {
    font-size: 16px;
  }
  .content__description {
    font-size: 15px;
  }
  .work-to-kassa-title-img {
    font-size: 18px;
  }
}

@media (max-width: 850px) {
  .intro-left-image {
    width: 100%;
  }
  .table__description {
    padding: 5px 15px;
  }
  .preimuwestva-wrapper__title {
    font-size: 26px;
  }
  .long-wrap {
    font-size: 18px;
  }
  .header-button-link {
    font-size: 18px;
  }
  .header-button-personal {
    font-size: 18px;
  }
  /* .right-block__subtitle {
    margin-top: 0;
  } */
}

@media (max-width: 750px) {
  .work-to-kassa-title-img {
    font-size: 14px;
  }
  .header-button-link {
    display: none;
  }
  .footer-wrapper {
    padding: 20px 40px;
  }
}

@media (max-width: 670px) {
  .right-column {
    text-align: center;
  }
  .preimuwestva-wrapper__first-block,
  .preimuwestva-wrapper__second-block,
  .preimuwestva-wrapper__third-block {
    display: none;
  }
  .footer-columns {
    flex-flow: column;
    align-items: center;
  }
  .right-column__title {
    line-height: 30px;
    margin-top: 20px;
  }
  .phone {
    line-height: 30px;
  }
  .row--preimuwestva {
    display: flex;
    justify-content: center;
    padding: 25px;
  }
  .left-column {
    width: 100%;
  }
  .footer-button {
    margin: 0 auto;
  }

  .textfield__button {
    font-size: 10px;
  }

  .textfield__input {
    margin-left: -30%;
  }

  .intro-right-title {
    font-size: 16px;
    line-height: 24px;
  }
  .right-block__button {
    font-size: 16px;
  }
  .right-block__subtitle {
    font-size: 16px;
  }
  .work-to-kassa-wrapper__blocks {
    flex-flow: column;
    padding: 0 10px;
  }
  .work-to-kassa-wrapper__block {
    max-width: 50%;
  }
  .work-to-kassa__arrow {
    width: 50%;
  }
  .img-arrow-wrapper {
    transform: rotate(90deg);
    display: flex;
    justify-content: center;
  }
  .table__description {
    padding: 5px 10px;
    font-size: 14px;
  }
  .preimuwestva-wrapper__title {
    font-size: 18px;
  }
  .main-title {
    font-size: 18px;
  }

  .long-wrap {
    font-size: 15px;
    padding: 10px 15px;
  }
  .question-border-wrapper {
    padding-left: 8%;
  }
}

@media (max-width: 480px) {
  .footer-title {
    margin: 0;
  }
  .header-wrapper {
    padding: 5px;
  }
  .header-button-personal {
    white-space: nowrap;
  }
  .footer {
    padding: 15px 20px;
  }
  .table__description {
    font-size: 8px;
  }
  .work__table {
    margin-top: 15px;
  }
  .blank_border {
  }
  .preimuwestva-wrapper__title,
  .main-title {
    font-size: 16px;
    padding: 8px 20px;
    margin: 0;
  }
  .preimuwestva-wrapper {
    margin-top: 50px;
  }
  .work-to-kassa-wrapper {
    margin-top: 60px;
  }
  .blank-wrapper-slider,
  .blank-wrapper,
  .blank_border-top-slider,
  .glide__arrows {
    display: none;
  }
  .table-wrapper {
    border-right: none;
  }
  .prices-wrapper__title-block,
  .swiper-wrapper__title-block {
    position: unset;
    margin: 30px auto;
  }
  .question-wrapper {
    border: none;
    background-image: none;
  }
  .swiper__wrapper {
    border: none;
    margin: 0;
    padding: 0;
  }
  .swiper__main {
    margin: 0;
  }
  .question-border-wrapper {
    padding-left: 0;
    width: 100%;
    margin-top: -30px;
  }
  .row {
    margin-top: 0;
  }
  .row .col:last-child {
    margin-left: 0;
  }
  .long-wrap {
    font-size: 12px;
    padding: 6px 12px;
  }
  .bottom-image-wrapper {
    margin-top: 0;
  }
  .second-block-title,
  .first-block-title {
    margin: 5px 0;
  }
  .right-block__subtitle {
    margin-top: 10px;
  }
  .img-back-into {
    display: none;
  }
  .intro-right-wrapper {
    padding: 0;
    margin: 0 auto;
    text-align: center;
  }
  .textfield__input {
    margin-left: 0;
  }
}
